:root {
    --main-bg-color: #02c8ef;
}

section {
    padding: 40px 0;
}

.header-wrapper {
    height: 500px;
    width: 100%;
    background-color: var(--main-bg-color);
    color: #FFF;
    display: table;
}

.header-wrapper div {
    display: table-cell;
    vertical-align: middle;
}

.alert p {
    margin: 0;
}

.use-cases .card p {
    margin: 0;
}

pre {
    background-color: var(--bs-tertiary-bg);
    padding: 20px;
}

.inspector-invite {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23ffc107%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M10.067.87a2.89%202.89%200%200%200-4.134%200l-.622.638-.89-.011a2.89%202.89%200%200%200-2.924%202.924l.01.89-.636.622a2.89%202.89%200%200%200%200%204.134l.637.622-.011.89a2.89%202.89%200%200%200%202.924%202.924l.89-.01.622.636a2.89%202.89%200%200%200%204.134%200l.622-.637.89.011a2.89%202.89%200%200%200%202.924-2.924l-.01-.89.636-.622a2.89%202.89%200%200%200%200-4.134l-.637-.622.011-.89a2.89%202.89%200%200%200-2.924-2.924l-.89.01-.622-.636zM8%204c.535%200%20.954.462.9.995l-.35%203.507a.552.552%200%200%201-1.1%200L7.1%204.995A.905.905%200%200%201%208%204zm.002%206a1%201%200%201%201%200%202%201%201%200%200%201%200-2z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: cover;
    width: 210px;
    height: 210px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotate(10deg);
    transition: top .5s;
}

.inspector-invite:hover {
    top: -50% !important;
}

.contacts-wrapper {
    background-color: #555;
    color: #FFF;
}

.contacts-wrapper .links a {
    color: #FFF;
}
