<div class="accordion">
    <div class="accordion-item async-accordion" data-accordion-url="/samples/remote_content.html">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#first-accordion">First</button>
        </h2>
        <div id="first-accordion" class="accordion-collapse collapse">
            <div class="accordion-body">
                <!-- This is left empty: the contents of the accordion are fetched when the item itself is activated -->
            </div>
        </div>
    </div>
    <div class="accordion-item async-accordion" data-accordion-url="/samples/remote_content.html">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#second-accordion">Second</button>
        </h2>
        <div id="second-accordion" class="accordion-collapse collapse">
            <div class="accordion-body">
                <!-- Same as above -->
            </div>
        </div>
    </div>
    <div class="accordion-item async-accordion keep-contents" data-accordion-url="/samples/remote_content.html">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#third-accordion">Third (loaded once)</button>
        </h2>
        <div id="third-accordion" class="accordion-collapse collapse">
            <div class="accordion-body">
                <!-- Same as above -->
            </div>
        </div>
    </div>
</div>
