<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-delete-sample">Open modal</button>

<div class="modal fade delete-on-close" tabindex="-1" id="modal-delete-sample">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    This will be removed from DOM when closed.
                </p>
                <p>
                    This means it cannot be opened again if you click again on the button!
                </p>
            </div>
        </div>
    </div>
</div>
