<form method="POST" class="dynamic-form">
    <input type="hidden" name="jb-post-saved-function" value="sampleFunction">

    <div class="mb-3">
        <label for="example" class="form-label">Write something</label>
        <input type="text" class="form-control" name="example" id="example">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
