<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-form-sample">Open modal with form</button>

<div class="modal fade" tabindex="-1" id="modal-form-sample">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" class="modal-form">
                <input type="hidden" class="skip-on-submit" name="will_not_be_serialized" value="1">

                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="example" class="form-label">Write something</label>
                        <input type="text" class="form-control" name="example" id="example">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
