<button class="btn btn-primary async-modal" data-modal-url="/samples/modal_contents.html">Button with attribute</button>
<a class="btn btn-primary async-modal" href="#" data-modal-url="/samples/modal_contents.html">Anchor with attribute</a>
<a class="btn btn-primary async-modal" href="/samples/modal_contents.html">Anchor with href</a>
