<div class="row row-cols-1 g-4 pagination-block">
    <div class="col">
        <div class="alert alert-warning text-center">
            Page 2
        </div>
    </div>

    <nav>
        <ul class="pagination dynamic-pagination">
            <li class="page-item"><a class="page-link" href="/samples/pagination1.html">1</a></li>
            <li class="page-item active"><a class="page-link" href="/samples/pagination2.html">2</a></li>
            <li class="page-item"><a class="page-link" href="/samples/pagination3.html">3</a></li>
        </ul>
    </nav>
</div>
