<div class="row row-cols-1 row-cols-md-4 g-4 infinite-scroll">
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/200/300?random=1" class="card-img-top" alt="Example">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/200/300?random=2" class="card-img-top" alt="Example">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/200/300?random=3" class="card-img-top" alt="Example">
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/200/300?random=4" class="card-img-top" alt="Example">
        </div>
    </div>

    <nav>
        <ul class="pagination">
            <li class="page-item active"><a class="page-link" href="/samples/scroll1.html">1</a></li>
            <li class="page-item"><a class="page-link" href="/samples/scroll2.html">2</a></li>
            <li class="page-item"><a class="page-link" href="/samples/scroll3.html">3</a></li>
        </ul>
    </nav>
</div>
