<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#first-tab" type="button" role="tab">First</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link async-tab" data-tab-url="/samples/remote_content.html" data-bs-toggle="tab" data-bs-target="#second-tab" type="button" role="tab">Second</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link async-tab keep-contents" data-tab-url="/samples/remote_content.html" data-bs-toggle="tab" data-bs-target="#third-tab" type="button" role="tab">Third (loaded once)</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="first-tab" role="tabpanel">
        <p>
            This content is already in the page. Click the Second tab!
        </p>
    </div>
    <div class="tab-pane fade" id="second-tab" role="tabpanel">
        <!-- This is left empty: the contents of the tab are fetched every time the tab itself is activated -->
    </div>
    <div class="tab-pane fade" id="third-tab" role="tabpanel">
        <!-- This is left empty: the contents of the tab are fetched once, when the tab itself is activated -->
    </div>
</div>
