<table class="table dynamic-table">
    <thead>
        <tr>
            <th width="40%">First column</th>
            <th width="40%">Second column</th>
            <th width="20%">Third column</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First row: something</td>
            <td>First row: something else</td>
            <td><button class="btn btn-danger remove-row">Remove</button></td>
        </tr>
        <tr>
            <td>Second row: something</td>
            <td>Second row: something else</td>
            <td><button class="btn btn-danger remove-row">Remove</button></td>
        </tr>
        <tr>
            <td colspan="3"><button class="btn btn-info add-row">Add</button></td>
        </tr>
    </tbody>

    <tfoot hidden>
        <tr>
            <td><input class="form-control" type="text" placeholder="A new row's something!"></td>
            <td><input class="form-control" type="text" placeholder="A new row's something else!"></td>
            <td><button class="btn btn-danger remove-row">Remove</button></td>
        </tr>
    </tfoot>
</table>
