<tr>
    <td>
        <select name="type[]">
            <option value="email">email</option>
            <option value="phone">phone</option>
            <option value="mobile">mobile</option>
        </select>
    </td>
    <td>
        <input type="text" name="value[]">
    </td>
</tr>
